---
title: FM - Software Engineer
layout: layout.njk
terminalFile: /assets/terminal/default.json
permalink: /index.html
pageStyles:
  - /assets/css/sections/home.css
pageScripts:
  - /assets/js/core/boot.js
---

<div class="md">
{% importMd "me/_content/me.md" %}
</div>

<br>
