# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Logs
*.log

# IDE / edytory
.vscode/
!.vscode/settings.json
.idea/
*.swp
fmmaciej.code-workspace

# Build caches
.cache/
.eleventy.js.cache/

# Git
.git-ftp-ignore

src/assets/music/gigs/incoming/
www/
node_modules/
tools/

# Node / JS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
