# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Logs
*.log

# IDE / edytory
.vscode/
.idea/
*.swp
fmmaciej.code-workspace

# Git
.git-ftp-ignore

# Build dir
www/
node_modules/
notes/
