:root {
    --bg: #000;
    --text: #eaeaea;
    --muted: #8a8a8a;
    --border: #1a1a1a;
    --cursor: #eaeaea;

    --link: #fff;
    --link-hover: #9f9f9f;
    --scrim: rgba(0, 0, 0, .6);

    --content-offset: 24px;

    /* terminal overlay */
    --terminal-opacity: .16;
    --overlay-bleed: 72px;
    --overlay-shift: 0px;
    --overlay-offset: 20px;
}

:root[data-theme="light"] {
    --bg: #fff;
    --text: #111;
    --muted: #666;
    --border: #eaeaea;
    --cursor: #111;

    --link: #000;
    --link-hover: #444;
    --scrim: rgba(0, 0, 0, .25);

    --terminal-opacity: .10;
}

@media (max-width: 720px) {
    :root {
        --terminal-opacity-mobile: .16;
        --overlay-bleed-mobile: 4px;
        --overlay-shift-mobile: 0px;
        --overlay-offset-mobile: 20px;
    }

    :root[data-theme="light"] {
        --terminal-opacity-mobile: .10;
    }
}
