{% macro renderGroup(group, count, layout = "list") %}
<details class="group" id="group-{{ group.slug }}" data-key="{{ group.slug }}" data-group="{{ group.name }}" data-slug="{{ group.slug }}">
    <summary>
        {{ group.name }}
        <span class="badge">{{ count }}</span>
    </summary>

    <div class="group-items" data-layout="{{ layout }}">
        {{ caller() }}
    </div>
</details>
{% endmacro %}
