---
title: FM — /music/bio
layout: layout.njk
terminalFile: /assets/terminal/music/bio.json
permalink: /music/bio/index.html
---

{% from "macros/breadcrumbs.njk" import renderBreadcrumb %}

{{ renderBreadcrumb([
    { href: "/music/", label: "/music" },
    { href: "/music/bio/", label: "/bio" }
]) }}

<div class="music-intro">
{% importMd "music/_content/intro/bio.md" %}
</div>

<div class="md">
{% importMd "music/_content/pages/bio.md" %}
</div>

<br>
