---
title: FM — /music/bio
layout: layout.njk
terminalFile: /assets/terminal/music/bio.json
permalink: /music/bio/index.html
---

<h3>
<a href="/music/">/music</a><a href="/music/bio">/bio</a>
</h3>

<p>
Stripped down to the basics, but with the details that matter most.
</p>

<div class="md">
{% importMd "music/_content/bio.md" %}
</div>

<br>
