---
title: FM — /music/bio
layout: layout.njk
terminalFile: /assets/terminal/bio.txt
permalink: /music/bio/index.html
---

<h3>
    <a href="/music/">/music</a><a href="/music/bio">/bio</a>
</h3>

<div class="md-block">
    <p>Stripped down to the basics, but with the details that matter most.</p>

    {% importMd "music/_content/bio.md" %}
</div>