---
title: FM — /music/links
layout: layout.njk
terminalFile: /assets/terminal/music/bio.json
permalink: /music/links/index.html
pageStyles:
  - /assets/css/sections/music-index.css
---

{% from "macros/breadcrumbs.njk" import renderBreadcrumb %}

{{ renderBreadcrumb([
    { href: "/music/", label: "/music" },
    { href: "/music/links/", label: "/links" }
]) }}

<div class="music-intro">
{% importMd "music/_content/intro/links.md" %}
</div>

<ul class="music-list">
    {% for link in music.links %}
    <li><a href="{{ link.url }}">/{{ link.slug }}</a>
        <span class="comment"># {{ link.comment }}</span></li>
    {% endfor %}
</ul>

<br>
