---
title: FM - /music/rider
layout: layout.njk
terminalFile: /assets/terminal/music/rider.json
permalink: /music/rider/index.html
---

{% from "macros/breadcrumbs.njk" import renderBreadcrumb %}

{{ renderBreadcrumb([
    { href: "/music/", label: "/music" },
    { href: "/music/rider/", label: "/rider" }
]) }}

<div class="music-intro">
{% importMd "music/_content/intro/rider.md" %}
</div>

<div class="md">
{% importMd "music/_content/pages/rider.md" %}
</div>

<div class="music-outro">
{% importMd "music/_content/outro/rider.md" %}
</div>

<br>
