---
title: FM - /music/rider
layout: layout.njk
terminalFile: /assets/terminal/rider.txt
permalink: /music/rider/index.html
---

<h3>
<a href="/music/">/music</a><a href="/music/rider">/rider</a>
</h3>

<p>
My basic technical and hospitality requirements.  
I keep it minimal, but a few details are crucial to ensure a smooth performance.
</p>

<div class="md-block">
{% importMd "music/_content/rider.md" %}
</div>

<p>
That’s all. Simple, reliable, effective.
</p>