.social-icons {
    display: flex;
    gap: 14px;
    list-style-type: none;
}

.social-icons li a {
    color: var(--muted);
    font-size: 18px;
    text-decoration: none;
}

.social-icons li a:hover {
    color: var(--text);
}
