#pageLoader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    color: var(--text);
    font-family: ui-monospace, SFMono-Regular, monospace;
    font-size: 14px;
    letter-spacing: 0.08em;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

body.show-loader #pageLoader {
    opacity: 1;
    pointer-events: auto;
}

/* animowane kropki */
#pageLoader .dots::after {
    content: "...";
    animation: dots 0.1s steps(3,end) infinite;
}

@keyframes dots {
    33% { content: "." }
    66% { content: ".." }
    100% { content: "..." }
}
